body, html{
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  font-family: "RobotoDraft","Roboto",sans-serif;
}
a{
  color: #337ab7;
  text-decoration: none;
}
a:hover{
  color: #23527c;
  text-decoration: underline;
}
a.topbarLink{
	color: white;
	text-decoration: none;
}
a.topbarLink:hover{
	color: white;
	text-decoration: underline;
}
.header{
  background-color: #2196F3;
  color: white;
  font-size: 24px;
  line-height: 64px;
  padding-left: 20px;
  margin-bottom: 70px;
}
.searchBarWrapper{
	display: inline-block;
	margin: 0;
	margin-left: 100px;
}
.searchBarWrapper .searchInput{
	padding: 5px;
	width: 400px;
	font-size: 18px;
	margin: 0;
	border: 0px;
}
.searchBarWrapper .searchButton{
	font-size: 18px;
	margin: 0;
	padding: 5px;
	border: 0;
	background-color: white;
	color: black;
	cursor: pointer;
}
.rightHeaderArea{
	float: right;
	margin-right: 30px;
}
.rightHeaderArea .userIconWrapper{
	padding: 5px;
}
.userNameLink{
	color: white;
	text-decoration: none;
}
.userNameLink:hover{
	color: white;
	text-decoration: underline;
}
.errorWrapper{
	display: block;
	margin: 0 10% 0 10%;
}
.error{
	font-size: 14px;
	padding: 15px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.error.bg-warning{
	background-color: #fcf8e3;
}
.error.bg-success{
	background-color: #dff0d8;
}
.error.bg-primary{
	background-color: #337ab7;
}
.error.bg-info{	
	background-color: #d9edf7;
}
.error.bg-danger{
	background-color: #ECA8A8;
}
.footer{
	display: block;
	margin-top: 100px;
	height: 200px;
}