.threadsWrapper{
  padding-top: 10px;
  padding-bottom: 100px;
  margin: auto;
  width: 800px;
}
.thread{
  margin-left: 50px;
  padding: 15px;
}
.threadTitle{
  color: black;
  font-size: 24px;
}
.threadFirstPostTitle{
  color: #757575;
  padding: 3px;
  padding-bottom: 10px;
}
.threadFirstPost{
  display: block;
  width: 100%;
  padding-bottom: 10px;
}
.threadFirstPostImageWrapper{
  padding-top: 5px;
  float: left;
  padding-right: 15px;
}
.threadKeyWords{
  padding-top: 20px;
  margin-left: 210px;
}
.threadFirstPostRight{
  max-width: 800px;
}
.threadFirstPostMessage{
  padding: 5px;
}
.postWrapper{
  margin: 5px;
  margin-left: 20px;
  display: block;
}
.post{
  max-width: 600px;
  display: inline-block;
  padding: 20px;
  background-color: rgba(200,200,200,.3);
}
.formWrapper{
  width: 400px;
  display: block;
  margin: auto;
  margin-top: 60px;
}
.formsTitle{
  font-size: 22px;
  padding-bottom: 10px;
}
.newThreadForm{
  padding: 10px;
}
.newThreadForm .input{
  width: 380px;
  border-radius: 2px;
  border: 1px solid #9e9e9e;
  font-size: 20px;
}
.newThreadForm textarea{
  border: 1px solid #9e9e9e;
  width: 380px;
  border-radius: 2px;
  font-size: 20px;
  height: 100px;
}
.newThreadForm .submitButton{
  border-radius: 2px;
  font-size: 20px;
  border: 1px solid #9e9e9e;
  background-color: white;
  cursor: pointer;
}
