<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link href="/static/baseLayout.css" rel="stylesheet">
<style type="text/css">
.content{
  margin: auto;
  width: 600px;
}
.titlePart{
  height: 100px;
  width: 600px;
  text-align: center;
}
.loginPart{
  float: left;
  width: 300px;
  padding: 20px;
}
.regPart{
  width: 300px;
  padding: 20px;
  float: left;
}
input{
  display: block;
}
</style>
</head>
<body>
  <div class="contentWrapper">
    <div class="content">
      <div>
        <div class="titlePart">
          <h1 class="page-header"> Please Register or Sign in </h1>
        </div>
        <div class="errorWrapper">
          {% for error in errors %}
            <p class="error {{ error.class }}">
              {{ error.message }}
            </p>
          {% endfor %}
        </div>
        <div class="loginPart">
          <form action="loginSubmit" method="post">
            <h1>Log In</h1>
            <input name="username" type="text" placeholder="Username or Email" class="form-control">
            <br>
            <input name="password" type="password" placeholder="Password" class="form-control">
            <br>
            <input type="submit" class="form-control">
          </form>
        </div>
        <div class="regPart">
          <form action="signupSubmit" method="post">
            <h1>Register</h1>
            <input name="username" type="text" placeholder="Username" class="form-control">
            <br>
            <input name="email" type="email" placeholder="email" class="form-control">
            <br>
            <input name="password" type="password" placeholder="Password" class="form-control">
            <br>
            <input type="submit" class="form-control">
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>