{% extends "baseLayout.html" %}

{% block topLink %}
<a href='/' class="topbarLink"> Home</a>
{% endblock %}

{% block head %}
    <link href="/static/threadStyle.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="formWrapper">
  <span class="formsTitle">Add Post</span>
  <div class="newThreadForm">
    <form action="/thread/{{threadId}}/post" method="post">
      <span class="threadSubTitle">comment</span>
      <textarea name="postContent" class=""></textarea>
      <input class="submitButton" type="submit">
    </form>
  </div>
</div>
<div class="threadsWrapper">
  <div class="thread">
    <div class="threadFirstPost clearfix">
      <div class="threadFirstPostImageWrapper clearfix">
        <img class="clearfix" src="http://dummyimage.com/150">
      </div>
      <div class="threadFirstPostRight clearfix">
        <div class="threadFirstPostTitle">
          <span class="threadTitle">{{ thread['subject'] }}</span> - Thread id: {{ thread['threadId'] }} - <a href="/thread/{{ thread['threadId'] }}">Open Thread</a>
        </div>
        <div class="threadFirstPostMessage">
          {{ thread['posts'][0].message }}
        </div>
      </div>
    </div>
  </div><!--/thread-->
</div><!--/threadsWrapper--> 
{% endblock %}
