{% extends "baseLayout.html" %}

{% block topLink %}
<a href='/' class="topbarLink"> Home</a>
{% endblock %}

{% block head %}
    <link href="/static/threadStyle.css" rel="stylesheet">
        <style>
.content{
	width: 400px;
	margin: auto;
	text-align: center;
}
a:hover{
	text-decoration: none;
	color: #337ab7;
}
    </style>
{% endblock %}

{% block content %}


<div class="content">
{% for stat in stats %}
	<h1>
		<a>{{ stat[0] }}</a> - <span class="count">{{stat[1]}}</span>
	</h1>
{% endfor %}
</div>

<div></div>
{% endblock %}
